.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #007bff; /* Cor da borda do spinner */
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    animation: spin 1s linear infinite; /* Animação de rotação */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  