.custom-image-size {
    width: 10rem;
    height: 150px;
    object-fit: cover;
  }
  
.person-card {
    width: 16rem;
    height: 25rem;
    margin-bottom: 15px;
}

.navbar{
  background-color: #f2f2f2 !important;
  font-size: larger;
}

.btn-primary {
  background-color: #0658f6 !important;
  border-color: #0658f6 !important;
}

.nav-link:hover {
  background-color: #d4dcf4;
  color: #333;
}

.active {
  background-color: #085ef4;
  color: #f2f2f2 !important;
}

.modal-img{
  max-height: 350px;
}

.spacer{
  height: 100%;
}

.background-color{
  background-color: #f2f2f2;
  height: 100vh;
}

.filters{
  color: #0658f6;
}