/* styles.css */
.custom-image-size {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
.person-card {
    width: 16rem;
    height: 400px; /* Defina a altura desejada aqui */
    margin-bottom: 15px;
}